{{define "title"}}Create a new snippet{{end}}

{{define "main"}}
<form action="/snippet/create" method="POST">
    <div>
        <label for="title">Title:</label>
        {{with .Form.FieldErrors.title}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" id="title" value="{{.Form.Title}}"/>
    </div>
    <div>
        <label for="content">Content:</label>
        {{with .Form.FieldErrors.content}}
        <label class="error">{{.}}</label>
        {{end}}
        <textarea type="text" name="content" id="content">{{.Form.Content}}</textarea>
    </div>
    <fieldset>
        <legend>Deletes in:</legend>
        {{with .Form.FieldErrors.expires}}
        <label class="error">{{.}}</label>
        {{end}}
        <div>
            <input type="radio" name="expires" value="365" {{if (eq .Form.Expires 365)}}checked{{end}} id="year"/>
            <label for="year">One year</label>
        </div>
        <div>
            <input type="radio" name="expires" value="7" {{if (eq .Form.Expires 7)}}checked{{end}} id="week"/>
            <label for="week">One week</label>
        </div>
        <div>
            <input type="radio" name="expires" value="1" {{if (eq .Form.Expires 1)}}checked{{end}} id="day"/>
            <label for="day">One day</label>
        </div>
    </fieldset>

    <div>
        <input type="submit" value="Publish snippet"/>
    </div>
</form>
{{end}}